body {
    color: rgb(242, 194, 245);
    background: rgb(229, 175, 254);
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(242, 194, 245);
    padding: 20px;
    font-size: 32px;
    color: rgb(196, 142, 212);
}

section {
    background: rgb(184,156,213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada {
    margin-right: 5%;
}
.chamada{
    background-color: rgb(242, 194, 245);
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto {
margin-right: 5%;
}
h1 {
    font-size: 40px;
}
p {
    font-size: 20px;
}
.categoria-videos {
    display: flex;
    overflow-x: auto;
    grid: 10px; ;
}
.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}
